.menu-list-page {
  width: calc(100% - 310px) !important;
}
.form-label {
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif !important;
  margin-bottom: 20px;
  margin-top: 20px;
}
.add-menu-input:focus-visible {
  outline: none !important;
}
@media (max-width: 780px) {
  .add-menu-input {
    width: 70% !important;
  }
  .menu-list-container{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media (max-width: 600px) {
  .add-menu-input {
    width: 100% !important;
  }
}
