.selected-image-box{
  width: 100%;
}
.img-box .main-image {
  width: 55px;
  height: 55px;
}
.img-box {
  width: fit-content;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}
.selected-image {
  border-color: #fc6736;
}
@media (max-width: 600px) {
  .dropzone {
    height: 140px;
  }
}
