.form-label {
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif !important;
  margin-bottom: 20px;
  margin-top: 20px;
}
.add-menu-input:focus-visible {
  outline: none !important;
}
.add-menu-input .ck-toolbar{
  overflow: scroll !important;
}
.add-menu-input .ck-toolbar,
.add-menu-input .ck-content {
  border-radius: 5px !important;
}
.Main-Section {
  padding-top: 15px;
  .upload-file-div {
    width: 50% !important;
    .dropzone-box{
      width: 75% !important;
    }
  }
  .Main-Section-inputs {
    div{
      width: 100%;
    }
  }
}
.details-inputs{
  background-color: #e2e8f0 !important;
  border-radius: 15px;
  padding: 20px;
  width: 70%;
  .text-editor-input,
  .add-menu-input{
    width: 100% !important;
  }
}
@media (max-width: 1200px) {
  .Main-Section .upload-file-div .dropzone-box{
    width: 100% !important;
    padding-right: 20px;
  }
  .details-inputs{
    width: 100%;
  }
  .Main-Section-inputs .add-menu-input{
    width: 100% !important;
  }
}
@media (max-width: 1080px) {
  .upload-file-div {
    display: flex;
    flex-wrap: wrap;
    .dropzone-box {
      width: 51%;
      padding: 2px;
    }
    // width: 70% !important;
  }
}
@media (max-width: 780px) {
  .add-menu-input,
  .upload-file-div .dropzone-box {
    width: 70% !important;
  }
}
@media (max-width: 600px) {
  .add-menu-input,
  .upload-file-div .dropzone-box,
  .Main-Section .upload-file-div,
  .Main-Section .Main-Section-inputs {
    width: 100% !important;
  }
  .Main-Section .upload-file-div .dropzone-box{
    padding-right: 0px;
  }
}
