.add-menu-input:focus-visible {
  outline: none !important;
}
@media (max-width: 780px) {
  .add-menu-input,
  .upload-file-div .dropzone-box {
    width: 70% !important;
  }
}
@media (max-width: 600px) {
  .add-menu-input,
  .upload-file-div .dropzone-box {
    width: 100% !important;
  }
}
