.th-texts {
  font-family: "Josefin Sans", sans-serif !important;
}
.tc-text {
  text-align: center;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: center;
  }
}
.table-header-text {
  text-align: center;
  &:first-child {
    text-align: left;
  }
  &:last-child {
    text-align: center;
  }
}
.tr-texts th,
.tr-texts td {
  font-family: "Inter", sans-serif !important;
}
@media (max-width: 780px) {
  .table-header-text,
  .tr-texts td {
    padding: 10px 15px !important;
  }
}
