.feedback-card {
  background-color: #ffffff;
  color: #1e293b;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 50px;
  text-align: left;
  .feedback-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .client-box {
      display: flex;
      align-items: center;
      .profile-image {
        max-width: 65px;
        border-radius: 50%;
      }
      .feedback-description {
        text-align: left;
        margin-left: 20px;
        .name {
          font-size: 18px;
          font-weight: 600;
          font-family: "Josefin Sans", sans-serif !important;
        }
        .position {
          font-size: 15px;
          font-weight: 500;
          display: block;
          margin-top: 5px;
          color: #b4b7c9;
          font-family: "Inter", sans-serif;
        }
      }
    }
    .quote {
      font-size: 125px;
      color: #a9a9c8;
      line-height: initial;
      font-family: "Josefin Sans", sans-serif !important;
    }
  }
  .feedback-text {
    font-size: 20px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif !important;
    text-align: left;
    margin-bottom: 6px !important;
  }
  .icons-box {
    margin-top: 10px;
    color: #687693;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 700px) {
  .feedback-card {
    padding: 15px;
  }
  .icons-box span{
    font-size: 13px;
  }
  .menu-list-container{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .feedback-card .feedback-header .client-box .profile-image {
    width: 45px;
  }
  .feedback-card .feedback-header .client-box .feedback-description .position {
    font-size: 12px;
  }
  .feedback-card .feedback-header .quote {
    display: none;
  }
  .feedback-card .feedback-header .client-box {
    width: 100% !important;
  }
  .feedback-card .feedback-text {
    font-size: 15px;
  }
}
